body {
	background-image: url("https://img.fifa.com/image/upload/t_tc1/rihhx0hpcbhhxjowkemc.jpg");
	background-color: #C1FFEE;
	background-size: 1400px 900px;
	background-position: initial;
}



.jumbotron {
	color: #FD6B00;
	background-image: url(https://cadenaser00.epimg.net/ser/imagenes/2019/08/02/deportes/1564754839_110182_1564754965_noticia_normal_recorte1.jpg);
	font-style: italic;
	background-size: 1400px 250px;
	

	


}


.borde-1 {
	border-bottom-style: ridge;
	border-color: #FD6B00;
	background-color: transparent;
	border-bottom-style: ridge; 
	margin-right: 900px;
}

.tit {
	border-style: ridge;
	border-color: #FD6B00;
	background-color: #7A8283;
	border-bottom-style: dashed;
	font-style: oblique;
}

.tit-2 {
	color:black;
	border-style: ridge;
	border-color: #FD6B00;
	border-width: 5px;
	background-color: #7A8283;
	border-top-style: dashed;
	font-size: 20px;
 




}

.tit-3{
	color:white;
	border-style: ridge;
	border-color: #0CC1DE;
	background-color: transparent;
	border-bottom-style: dashed;
	font-style: oblique;
}

.tit-4 {
	color: white;
	border-style: ridge;
	border-color: #0CC1DE;
	border-width: 5px;
	background-image:url(https://www.futbol-tactico.com/thumb.php?file=/data/edicion/futsal/71/es/articulo/71-reglas-fifa-img.jpg&x=640&y=480);
	background-size: 300px 310px; 
	border-top-style: dashed;
	font-size: 20px;
}

.bk-2{
	color: black;
	border-style: ridge;
	border-color: #0CC1DE;
	border-width: 5px;
	background-image: url(https://img2.freepng.es/20180426/wwe/kisspng-futsal-athletics-field-tennis-centre-basketball-co-tennis-court-5ae280357372c0.3354932715247933974729.jpg);
	background-size: 300px 730px;
	border-top-style: dashed; 
	font-size: 20px;

}

.bk-3 {
	color: white;
	border-style: ridge;
	border-color: #0CC1DE;
	border-width: 5px;
	background-image: url(https://media.gettyimages.com/photos/view-of-the-the-trophy-of-the-colombia-2016-fifa-futsal-world-cup-at-picture-id611848338);
	background-size: 320px 300px;
	border-top-style: dashed; 
	font-size: 20px;


}

.tit-5 {
	color:#00FF17;
	border-style: ridge;
	border-color: #00FF17;
	border-width: 5px;
	background-color: black;
	font-size: 20px;
}

.nosotros {
	background-color: gray;
	margin-right: 250px;
}

.cuerpo-n {
	background-color: gray;
	margin-right: 250px;
}
	
 



.btn-info {
	
	border-color: #7DFF4D;
	color: #7DFF4D;



}

.tit-b {
	border-style: solid;
	border-color: blue;
	border-width: 4px;
	background-color: white;
	border-top-style: 
	font-size: 20px;
	margin-right: 350px;
 

}

footer {
	background-image: url(https://como-funciona.com/wp-content/uploads/2020/05/Futsal1-768x432.jpg);
}